## Sets

In [1]:
mySet = {'a', 'b', 'c'}
mySet

{'a', 'b', 'c'}

In [3]:
mySet = set(('a', 'b', 'c'))

In [4]:
mySet

{'a', 'b', 'c'}

In [5]:
myList = ['a', 'b', 'b', 'c', 'c']
myList = list(set(myList))
myList

['a', 'b', 'c']

In [6]:
mySet[0]

TypeError: 'set' object is not subscriptable

In [7]:
number = 1
1[0]

<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
/var/folders/fl/tpkdpqfn7qj8x03js4wtflc00000gn/T/ipykernel_85667/2203923273.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]
/var/folders/fl/tpkdpqfn7qj8x03js4wtflc00000gn/T/ipykernel_85667/2203923273.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]
/var/folders/fl/tpkdpqfn7qj8x03js4wtflc00000gn/T/ipykernel_85667/2203923273.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]

TypeError: 'int' object is not subscriptable

In [9]:
mySet.add('d')
mySet

{'a', 'b', 'c', 'd'}

In [10]:
'a' in mySet

True

In [11]:
'z' in mySet

False

In [12]:
len(mySet)

4

In [13]:
while len(mySet):
    print(mySet.pop())

a
b
c
d

In [15]:
mySet

set()

In [16]:
mySet = {'a', 'b', 'c'}

In [17]:
mySet.discard('a')

In [18]:
mySet

{'b', 'c'}

## Tuples

In [19]:
myTuple = ('a', 'b', 'c')
myTuple

('a', 'b', 'c')

In [20]:
myTuple[0]

'a'

In [21]:
myTuple[0] = 'd'

TypeError: 'tuple' object does not support item assignment

In [27]:
def returnsMultipleValues():
    return 1,2,3

type(returnsMultipleValues())

tuple

In [26]:
myTuple = (1,2,3)

In [25]:
type(myTuple)

tuple

In [28]:
a, b, c = returnsMultipleValues()

In [29]:
print(a)
print(b)
print(c)

1
2
3